Repository nuxt/website-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante, @kazupon, @febrihidayan

.github/CODEOWNERS:

# Read More about CODEOWNERS file: https://git.io/JT4TZ
# Order is important! the last matching pattern takes the most precedence

# Main content
/content/en/**      @danielroe @atinux @pi0
/content/en/partners/**      @clemcode @atinux @alexchopin
content/en/_collections/sponsors/**  @clemcode @atinux @alexchopin

# Translations
/content/fr/**      @atinux @clemcode @alexchopin @flosciante
/content/ja/**      @kazupon
/content/id/**      @febrihidayan

docs: updated untranslated files with official en docs
  content/pt/_collections/navigations/header.md
  content/pt/_collections/testimonials/index.md
  content/pt/case-studies/0.github.md
  content/pt/case-studies/1.livementor.md
  content/pt/case-studies/2.stores.md
  content/pt/case-studies/3.parent-scheme.md
  content/pt/case-studies/4.line.md
  content/pt/case-studies/5.404-place-vendome.md
  content/pt/case-studies/6.komercia.md
  content/pt/docs/3.features/2.deployment-targets.md
  content/pt/docs/3.features/6.configuration.md
  content/pt/docs/4.directory-structure/3.components.md
  content/pt/docs/4.directory-structure/9.pages.md
  content/pt/docs/5.configuration-glossary/6.configuration-components.md
  content/pt/docs/5.configuration-glossary/9.configuration-env.md
  content/pt/integrations/deployments/nginx.md
  content/pt/showcases/index.md
Owners: none

feat: update Learn section text and CTA
  content/en/index.md
  content/fr/index.md
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante

docs(configuration-css): yarn add sass
  content/en/docs/5.configuration-glossary/5.configuration-css.md
Owners: @danielroe, @atinux, @pi0

docs: add yarn install command for `sass` (#1812)
  content/en/docs/5.configuration-glossary/5.configuration-css.md
Owners: @danielroe, @atinux, @pi0

fix several docs
  content/fr/docs/4.directory-structure/3.components.md
  content/fr/docs/4.directory-structure/9.pages.md
Owners: @atinux, @clemcode, @alexchopin, @flosciante

fix(docs): PT add video create-nuxt-app
  content/pt/docs/1.get-started/1.installation.md
Owners: none

Update 1.installation.md
  content/pt/docs/1.get-started/1.installation.md
Owners: none

Update 1.installation.md
  content/pt/docs/1.get-started/1.installation.md
Owners: none

Update 1.installation.md
  content/pt/docs/1.get-started/1.installation.md
Owners: none

Update 1.installation.md
  content/pt/docs/1.get-started/1.installation.md
Owners: none

Update 4.commands.md
  content/pt/docs/1.get-started/4.commands.md
Owners: none

docs: ja contents translation and latest contents syncing (#1810)
  content/fr/docs/4.directory-structure/3.components.md
  content/fr/docs/4.directory-structure/9.pages.md
  content/ja/_collections/navigations/header.md
  content/ja/docs/1.get-started/1.installation.md
  content/ja/docs/3.features/2.deployment-targets.md
  content/ja/docs/4.directory-structure/3.components.md
  content/ja/docs/4.directory-structure/9.pages.md
  content/ja/docs/5.configuration-glossary/6.configuration-components.md
  content/ja/docs/5.configuration-glossary/9.configuration-env.md
  content/ja/index.md
Owners: @atinux, @clemcode, @alexchopin, @flosciante, @kazupon

fix(docs): PT typos (#1813)
  content/pt/docs/1.get-started/1.installation.md
  content/pt/docs/1.get-started/4.commands.md
Owners: none

chore: update Learn section text and CTA (#1811)
  content/en/index.md
  content/fr/index.md
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante
