Repository nuxt/website-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clemcode, @atinux, @alexchopin, @danielroe, @pi0, @flosciante, @kazupon, @febrihidayan

docs: clarifications
  content/en/docs/2.concepts/2.context-helpers.md
Owners: @danielroe, @atinux, @pi0

docs: add definitions for acronyms + technical terms (#1579)
  content/en/docs/2.concepts/2.context-helpers.md
Owners: @danielroe, @atinux, @pi0

chore: more traductions
  content/en/releases/index.md
  content/fr/_collections/navigations/footer.md
  content/fr/_collections/navigations/header.md
  content/fr/announcements/index.md
  content/fr/case-studies/index.md
  content/fr/docs/5.configuration-glossary/14.configuration-hooks.md
  content/fr/docs/7.components-glossary/8.transition.md
  content/fr/index.md
  content/fr/integrations/index.md
  content/fr/releases/index.md
  content/fr/tutorials/index.md
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante

docs: updates docs (#1737)
  content/fr/_collections/navigations/footer.md
  content/fr/case-studies/0.github.md
  content/ja/_collections/navigations/footer.md
  content/ja/case-studies/0.github.md
Owners: @atinux, @clemcode, @alexchopin, @flosciante, @kazupon

Update renovate.json
  renovate.json
Owners: @clemcode, @atinux, @alexchopin

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Owners: @clemcode, @atinux, @alexchopin

chore(deps): update devdependency eslint-plugin-prettier to v4
  package.json
  yarn.lock
Owners: @clemcode, @atinux, @alexchopin

Update 1.fetch.md (#1745)
  content/ja/docs/7.components-glossary/1.fetch.md
Owners: @kazupon

chore(deps): update devdependency millify to v4
  package.json
  yarn.lock
Owners: @clemcode, @atinux, @alexchopin

Create de-DE.js
  i18n/de-DE.js
Owners: @clemcode, @atinux, @alexchopin

Create 0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Owners: @clemcode, @atinux, @alexchopin

Create index.md
  content/de/announcements/index.md
Owners: @clemcode, @atinux, @alexchopin

docs: update `render.static` false option
  content/en/docs/5.configuration-glossary/23.configuration-render.md
Owners: @danielroe, @atinux, @pi0

docs: update translation
  i18n/ja-JP.js
Owners: @clemcode, @atinux, @alexchopin

docs: update translation (#1762)
  i18n/ja-JP.js
Owners: @clemcode, @atinux, @alexchopin

:bento: (case-studies) update cover img
  static/img/case-studies/github/cover.png
  static/img/case-studies/komercia/cover.png
  static/img/case-studies/line/cover.png
  static/img/case-studies/livementor/cover.png
  static/img/case-studies/stores/cover.png
Owners: @clemcode, @atinux, @alexchopin

:lipstick: (TeamSection) update description spacing
  components/organisms/sections/TeamSection.vue
Owners: @clemcode, @atinux, @alexchopin

:lipstick: (Releases) update vertical spacing
  components/templates/Releases.vue
Owners: @clemcode, @atinux, @alexchopin

docs: fix scrollbehavior spelling
  content/en/docs/5.configuration-glossary/25.configuration-router.md
Owners: @danielroe, @atinux, @pi0

docs: fix scrollbehavior spelling (#1763)
  content/en/docs/5.configuration-glossary/25.configuration-router.md
Owners: @danielroe, @atinux, @pi0

:dizzy: (AnimFromScratchCodeblock) remove excess space on h1
  components/organisms/animations/AnimFromScratchCodeblock.vue
Owners: @clemcode, @atinux, @alexchopin

:dizzy: (AnimFromCliCodeBlock) adding an opening div and format closing div
  components/organisms/animations/AnimFromCliCodeblock.vue
Owners: @clemcode, @atinux, @alexchopin

fix(navigation): AsideBottom display (#1730)
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideNavigation.vue
Owners: @clemcode, @atinux, @alexchopin

feat: update digital ocean app platform docs with web service settings configured
  content/en/integrations/deployments/digital-ocean.md
Owners: @danielroe, @atinux, @pi0

fix: update Contribution Guide broken link
  content/en/contribution-guide/index.md
  content/fr/contribution-guide/index.md
  content/ja/contribution-guide/index.md
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante, @kazupon

docs: update contribution guide broken link (#1766)
  content/en/contribution-guide/index.md
  content/fr/contribution-guide/index.md
  content/ja/contribution-guide/index.md
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante, @kazupon

fix: add an screenshot to clarify where to add yarn start and port
  content/en/integrations/deployments/digital-ocean.md
Owners: @danielroe, @atinux, @pi0

fix: url checks based on `route.path`
  components/atoms/Logo.vue
  components/atoms/links/HeaderNavigationLink.vue
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/lists/Testimonials.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppBanner.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideHeaderNavigation.vue
  nuxt.config.ts
  plugins/nav.js
Owners: @clemcode, @atinux, @alexchopin

docs: Nuxt server deploy on DO App platform update (#1765)
  content/en/integrations/deployments/digital-ocean.md
Owners: @danielroe, @atinux, @pi0

fix: design issues (#1764)
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
  components/organisms/sections/TeamSection.vue
  components/templates/Releases.vue
  static/img/case-studies/github/cover.png
  static/img/case-studies/komercia/cover.png
  static/img/case-studies/line/cover.png
  static/img/case-studies/livementor/cover.png
  static/img/case-studies/stores/cover.png
Owners: @clemcode, @atinux, @alexchopin

use `useRoute`
  plugins/nav.js
Owners: @clemcode, @atinux, @alexchopin

fix: url checks based on `route.path` (#1767)
  components/atoms/Logo.vue
  components/atoms/links/HeaderNavigationLink.vue
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/lists/Testimonials.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppBanner.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideHeaderNavigation.vue
  nuxt.config.ts
  plugins/nav.js
Owners: @clemcode, @atinux, @alexchopin

Create 1.going-full-static.md
  content/de/announcements/1.going-full-static.md
Owners: @clemcode, @atinux, @alexchopin

Create index.md
  content/de/design/index.md
Owners: @clemcode, @atinux, @alexchopin

Create index.md
  content/de/events/index.md
Owners: @clemcode, @atinux, @alexchopin

Create colors.md
  content/de/_collections/design/colors.md
Owners: @clemcode, @atinux, @alexchopin

Create logos.md
  content/de/_collections/design/logos.md
Owners: @clemcode, @atinux, @alexchopin

Create monogram.md
  content/de/_collections/design/monogram.md
Owners: @clemcode, @atinux, @alexchopin

Create 2019.md
  content/de/_collections/events/2019.md
Owners: @clemcode, @atinux, @alexchopin

Events DE
  content/de/_collections/events/2019.md
  content/de/_collections/events/2020.md
  content/de/_collections/events/2021.md
Owners: @clemcode, @atinux, @alexchopin

.github/CODEOWNERS:

# Read More about CODEOWNERS file: https://git.io/JT4TZ
# Order is important! the last matching pattern takes the most precedence

# Global owners will be requested for review when someone opens a pull request
# These owners will be the default owners for everything in
# the repo (unless a later match takes precedence)
*                   @clemcode @atinux @alexchopin

# Main content
/content/en/**      @danielroe @atinux @pi0
/content/en/partners/**      @clemcode @atinux @alexchopin
content/en/_collections/sponsors/** @clemcode @atinux @alexchopin

# Translations
/content/fr/**      @atinux @clemcode @alexchopin @flosciante
/content/ja/**      @kazupon
/content/id/**      @febrihidayan
