Repository nuxt/website-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @clemcode, @atinux, @alexchopin, @danielroe, @pi0, @flosciante, @kazupon, @febrihidayan

[japanse] add campany use-case (#676)
  components/partials/home/companies.vue
  static/img/companies/original/plaid.svg
  static/img/companies/preview/plaid.svg
Owners: @clemcode, @atinux, @alexchopin

fix: remove company logo not using Nuxt (#743)
  components/partials/home/companies.vue
  static/img/companies/original/amplitude.svg
Owners: @clemcode, @atinux, @alexchopin

feat: add new sponsor (#810)
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/vps-server.png
  static/img/sponsors/light/vps-server.png
Owners: @clemcode, @atinux, @alexchopin

feat: add sendcloud sponsor (#835)
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/sendcloud.svg
  static/img/sponsors/light/sendcloud.svg
Owners: @clemcode, @atinux, @alexchopin

feat: add fine vpn sponsor (#866)
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/finevpn.png
  static/img/sponsors/light/finevpn.png
Owners: @clemcode, @atinux, @alexchopin

add more themes
  pages/themes.vue
  static/themes/bolster-2x.jpg
  static/themes/bolster.jpg
  static/themes/luma-nuxt-2x.jpg
  static/themes/luma-nuxt.jpg
  static/themes/multikart-2x.jpg
  static/themes/multikart.jpg
  static/themes/sofbox-2x.jpg
  static/themes/sofbox.jpg
  static/themes/veluxi-2x.jpg
  static/themes/veluxi.jpg
Owners: @clemcode, @atinux, @alexchopin

Updated Nuxt Lifecycle Diagram (#904)
  content/en/guides/concepts/nuxt-lifecycle.md
  static/guides/nuxt-lifecycle.png
  static/guides/nuxt-lifecycle.svg
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin

Fix imgbot automatic SVG optimisation issue (#928)
  .imgbotconfig
  static/guides/plugins.svg
Owners: @clemcode, @atinux, @alexchopin

fix: rename images folder (#936)
  content/en/guides/concepts/context-helpers.md
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/plugins.md
  content/es/guides/concepts/context-helpers.md
  content/es/guides/concepts/nuxt-lifecycle.md
  content/es/guides/directory-structure/components.md
  content/es/guides/directory-structure/content.md
  content/es/guides/directory-structure/modules.md
  content/es/guides/directory-structure/plugins.md
  content/id/guides/concepts/context-helpers.md
  content/id/guides/concepts/nuxt-lifecycle.md
  content/id/guides/directory-structure/plugins.md
  content/ko/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
  content/pt/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/content.md
  content/pt/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/plugins.md
  static/docs/2.x/components.png
  static/docs/2.x/context.svg
  static/docs/2.x/modules.jpg
  static/docs/2.x/nuxt-content.svg
  static/docs/2.x/nuxt-lifecycle.svg
  static/docs/2.x/plugins.jpg
  static/docs/2.x/plugins.svg
  static/docs/2.x/views.png
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @febrihidayan

fix: hide banner
  layouts/default.vue
Owners: @clemcode, @atinux, @alexchopin

fix: URLs missing path
  _redirects
  content/en/examples/async-data.md
  content/en/examples/vuex-store.md
  content/en/faq/netlify-deployment.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/es/guides/configuration-glossary/configuration-generate.md
  content/fr/examples/async-data.md
  content/fr/examples/vuex-store.md
  content/fr/faq/github-pages.md
  content/fr/faq/nginx-proxy.md
  content/fr/faq/surge-deployment.md
  content/id/examples/async-data.md
  content/id/examples/vuex-store.md
  content/ja/examples/async-data.md
  content/ja/examples/vuex-store.md
  content/ja/faq/deployment-azure-static-web-apps.md
  content/ja/faq/nginx-proxy.md
  content/ja/faq/surge-deployment.md
  content/ko/examples/async-data.md
  content/ko/examples/vuex-store.md
  content/ko/faq/surge-deployment.md
  content/pt/guides/configuration-glossary/configuration-generate.md
  content/pt/guides/internals-glossary/context.md
  content/ru/examples/async-data.md
  content/zh/examples/async-data.md
  content/zh/examples/vuex-store.md
  content/zh/faq/nginx-proxy.md
  content/zh/faq/surge-deployment.md
  content/zh/guide/commands.md
  content/zh/guide/configuration.md
  content/zh/guide/directory-structure.md
  content/zh/guide/index.md
  content/zh/guide/routing.md
  content/zh/guide/views.md
  static/docs/2.x/context.svg
Owners: @clemcode, @atinux, @alexchopin, @danielroe, @pi0, @flosciante, @febrihidayan, @kazupon

feat: add cli bannerMessage (#1004)
  content/en/guides/configuration-glossary/configuration-cli.md
  static/docs/2.x/cli-badge.png
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin

feat: add ngrok blog post (#1029)
  content/en/blog/creating-a-nuxt-module.md
  content/en/guides/configuration-glossary/configuration-loading.md
  static/blog/creating-nuxt-module/main.png
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin

feat: add legal nature sponsor (#1130)
  components/templates/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/legalnature-logo.svg
  static/img/sponsors/light/legalnature-logo.svg
Owners: @clemcode, @atinux, @alexchopin

Modules and Plugins diagrams updates and fixes (#1142)
  .imgbotconfig
  content/es/guides/directory-structure/modules.md
  content/fr/guides/directory-structure/modules.md
  content/ja/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/modules.md
  static/docs/2.x/modules.svg
  static/docs/2.x/plugins.svg
  static/raw/modules.drawio
Owners: @clemcode, @atinux, @alexchopin, @flosciante, @kazupon

feat: resources page (#1177)
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/themes.svg
  assets/illustrations/theming.svg
  assets/illustrations/videos.svg
  i18n/en-US.js
  pages/resources.vue
  pages/themes.vue
  pages/video-courses.vue
  static/courses/build-job-board-with-nuxt-2x.png
  static/courses/build-job-board-with-nuxt.png
  static/courses/build-server-rendered-app-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt.png
  static/courses/building-applications-with-vue-and-nuxt-2x.png
  static/courses/building-applications-with-vue-and-nuxt.png
  static/courses/create-news-app-with-vue-and-nuxt-2x.png
  static/courses/create-news-app-with-vue-and-nuxt.png
  static/courses/get-started-with-nuxt-2x.png
  static/courses/get-started-with-nuxt.png
  static/courses/learn-nuxt-with-debbie-2x.png
  static/courses/learn-nuxt-with-debbie.png
  static/courses/mastering-nuxt-2x.png
  static/courses/mastering-nuxt.png
  static/courses/nuxt-vue-steroids-2x.png
  static/courses/nuxt-vue-steroids.png
  static/courses/scaling-vue-with-nuxt-2x.png
  static/courses/scaling-vue-with-nuxt.png
  static/themes/nuxt-argon-dashboard-pro-laravel-2x.jpg
  static/themes/nuxt-argon-dashboard-pro-laravel.jpg
Owners: @clemcode, @atinux, @alexchopin

feat: add GitHub Logo (#1205)
  components/templates/home/HomeCompanies.vue
  content/tr/guides/concepts/context-helpers.md
  static/img/companies/original/GitHub_Logo.png
  static/img/companies/preview/GitHub_Logo.png
Owners: @clemcode, @atinux, @alexchopin

fix: ubisoft logo in dark mode (#1211)
  static/img/companies/original/ubisoft.svg
  static/img/companies/preview/ubisoft.svg
Owners: @clemcode, @atinux, @alexchopin

Feature/sponsors/partners (#1403)
  components/organisms/SponsorsBlock.vue
  components/templates/home/Sponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/strapi-logo.svg
  static/img/sponsors/light/strapi-logo.svg
Owners: @clemcode, @atinux, @alexchopin

chore: add hey to Japanese companies (#1432)
  components/templates/home/HomeCompanies.vue
  static/img/companies/original/hey.svg
  static/img/companies/preview/hey.svg
Owners: @clemcode, @atinux, @alexchopin

chore: Add LINE to companies (#1430)
  components/templates/home/HomeCompanies.vue
  static/img/companies/original/line.png
  static/img/companies/preview/line.png
Owners: @clemcode, @atinux, @alexchopin

content: Add Remotely as sponsor (#1436)
  content/sponsors.js
  static/img/sponsors/dark/remotely-logo.svg
  static/img/sponsors/light/remotely-logo.svg
Owners: @clemcode, @atinux, @alexchopin

sponsors: Add Swell partner (#1448)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/swell-logo.svg
  static/img/sponsors/light/swell-logo.svg
Owners: @clemcode, @atinux, @alexchopin

docs: Add netlify as partner (#1462)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/netlify-logo.svg
  static/img/sponsors/light/netlify-logo.svg
Owners: @clemcode, @atinux, @alexchopin

docs: Add layer0 partner (#1463)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/layer0-logo.svg
  static/img/sponsors/light/layer0-logo.svg
Owners: @clemcode, @atinux, @alexchopin

content: replace blog articles covers (#1468)
  components/molecules/AppImage.vue
  components/templates/blogpost/Item.vue
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.png
  static/blog/creating-blog-with-nuxt-content/main.png
  static/blog/creating-nuxt-module/main.png
  static/blog/going-dark-with-nuxtjs-color-mode/main.png
  static/blog/going-full-static/main.png
  static/blog/improve-developer-experience-nuxt-components/main.jpeg
  static/blog/introducing-smart-prefetching/main.png
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.png
  static/blog/nuxt-static-improvements/main.jpg
  static/blog/nuxtjs-from-terminal-to-browser/main.png
  static/blog/seed-round/main.png
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.png
Owners: @clemcode, @atinux, @alexchopin, @danielroe, @pi0

content: add livementor case study (#1466)
  content/en/blog/case-study-livementor.md
  static/blog/case-study-livementor/main.png
  static/blog/case-study-livementor/mockup-m1-3.png
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin

content: change partners list to carousel component + add Storyblok logo (#1474)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/storyblok-logo.svg
  static/img/sponsors/light/storyblok-logo.svg
Owners: @clemcode, @atinux, @alexchopin

chore: add Vercel as sponsor 🖤
  content/sponsors.js
  static/img/sponsors/dark/vercel.svg
  static/img/sponsors/light/vercel.svg
Owners: @clemcode, @atinux, @alexchopin

docs: fix typo, `prefetchPaylods` -> `prefetchPayloads` (#1494)
  content/en/_archives/api/configuration-router.md
  content/es/guides/configuration-glossary/configuration-router.md
  content/fr/guides/configuration-glossary/configuration-router.md
  content/ja/guides/configuration-glossary/configuration-router.md
  content/pt/guides/configuration-glossary/configuration-router.md
Owners: @danielroe, @atinux, @pi0, @clemcode, @alexchopin, @flosciante, @kazupon

fix: update contributors API path to use `main` branch (#1498)
  plugins/contributors.js
Owners: @clemcode, @atinux, @alexchopin

Add note about script lang for typescript JSX (#1496)
  content/en/guides/features/configuration.md
Owners: @danielroe, @atinux, @pi0

docs: Update github-pages.md (#1507)
  content/en/guides/deployment/github-pages.md
Owners: @danielroe, @atinux, @pi0

content: add movavi sponsor (#1509)
  content/sponsors.js
  static/img/sponsors/dark/movavi.svg
  static/img/sponsors/light/movavi.svg
Owners: @clemcode, @atinux, @alexchopin

docs(ja): translate deployment/deploying-to-21yunbox (#1511)
  content/ja/guides/deployment/deploying-to-21yunbox.md
Owners: @kazupon

docs(ja):asyncData merging type (#1254) (#1499)
  content/ja/guides/features/data-fetching.md
Owners: @kazupon

docs(ja): clarify what values are added to global process (#1369) (#1500)
  content/ja/guides/concepts/context-helpers.md
Owners: @kazupon

docs(ja): update titles for Nuxt components (#1250) (#1501)
  content/ja/guides/features/nuxt-components.md
Owners: @kazupon

docs(ja): translate deployment/deploy-on-moovweb (#1502)
  content/ja/guides/deployment/deploy-on-moovweb.md
Owners: @kazupon

.github/CODEOWNERS:

# Read More about CODEOWNERS file: https://git.io/JT4TZ
# Order is important! the last matching pattern takes the most precedence

# Global owners will be requested for review when someone opens a pull request
# These owners will be the default owners for everything in
# the repo (unless a later match takes precedence)
*                   @clemcode @atinux @alexchopin

# Main content
/content/en/**      @danielroe @atinux @pi0
/content/en/partners/**      @clemcode @atinux @alexchopin
content/en/_collections/sponsors/** @clemcode @atinux @alexchopin

# Translations
/content/fr/**      @atinux @clemcode @alexchopin @flosciante
/content/ja/**      @kazupon
/content/id/**      @febrihidayan
