Repository nuxt/website-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexchopin, @debs-obrien, @nuxt/framework, @inouetakuya, @aytdm, @febrihidayan

Update pt-BR.js
  i18n/pt-BR.js
Owners: @alexchopin

Update pt-BR.js (#1047)
  i18n/pt-BR.js
Owners: @alexchopin

Update pt-BR.js (#1047)
  i18n/pt-BR.js
Owners: @alexchopin

chore(deps): update devdependency @nuxtjs/pwa to ^3.3.2
  package.json
  yarn.lock
Owners: @alexchopin

docs(es): translate seo-twitter-og.md
  content/es/examples/seo-twitter-og.md
Owners: @debs-obrien

docs(es): translate helpers.md
  content/es/examples/helpers.md
Owners: @debs-obrien

fix: remove fullstop to fix link
  content/es/examples/seo-twitter-og.md
Owners: @debs-obrien

fix: remove 'and send it' to fix sentence structure
  content/en/guides/concepts/static-site-generation.md
Owners: @nuxt/framework

fix: remove 'and send it' to fix sentence structure (#1051)
  content/en/guides/concepts/static-site-generation.md
Owners: @nuxt/framework

fix: remove 'and send it' to fix sentence structure (#1051)
  content/en/guides/concepts/static-site-generation.md
Owners: @nuxt/framework

chore(deps): update devdependency cypress to v6.0.1
  package.json
  yarn.lock
Owners: @alexchopin

fix: update version number
  nuxt.config.js
Owners: @alexchopin

fix: update version number
  nuxt.config.js
Owners: @alexchopin

.github/CODEOWNERS:

# Read More about CODEOWNERS file: https://git.io/JT4TZ
# Order is important! the last matching pattern takes the most precedence

# Global owners will be requested for review when someone opens a pull request
# These owners will be the default owners for everything in
# the repo (unless a later match takes precedence)
*                   @alexchopin

# Cypress & Content
/content/**         @debs-obrien
/cypress/**         @debs-obrien

# Main content
/content/en/**      @nuxt/framework

# Translations
/content/ja/**      @inouetakuya @aytdm
/content/id/**      @febrihidayan
